/* src/index.css atau src/App.css */
html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .App {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  footer {
    margin-top: auto;
  }
  